# Python
venv/
__pycache__/
*.pyc

# Environment
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Terraform
**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/terraform.tfvars
**/terraform.tfvars.json
**/terraform-state-backup-*.json
